body{
    background-color: black;
    
}
.glyph-icon{
    font-size: 25px;
    color: white;
    transition: transform 0.3s, color 0.3s; 
}

.glyph-icon:hover{
font-size: 40px;
transform: scale(1.3);
}

.icon{
    width: 100%; /* Set a fixed width */
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}


.buttons{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 50%; */
   

}
.buttons h1{
    font-size: 250px;
    outline: none;
    user-select: none;
    pointer-events: none;
}


.action-icon {
    font-size: 32px; /* Size of the +/- icons */
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


  .action-icon.left {
    left: 1px; 
  }

  .action-icon.right {
    right: 1px; /* Position on the right side of the screen */
  }


.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

.yes, .cancel{

    font-size: larger;
    color: white;
    width: 125px;
    background-color:black;
    text-align: center;
    height: 30px;
    /* border: 2px solid white; */
    /* border-radius: 16px; */

    &:hover{
        font-weight: 600;
        transform: scale(1.3);

    }
    

}
.modal-buttons p{
    color: white;
    /* width: 125px;
    height: 30px; */
    
    /* border: 1px solid white;
    border-radius: 16px; */
    font-size: 36px;
}



.modal-buttons div{
   width: 100%;
    display: block;
    margin-bottom: 16px;
    cursor: pointer;
}
